PORT=3000
CLIENT_URL=http://localhost:3000    
LINK=http://localhost:3000

#DATABASE INFORMATION
DB_PORT=3306
DB_HOST=localhost
DB_NAME=nestjs
DB_USER=root
DB_PASSWORD=""
RUN_DB_LOCAL=false


# REDIS INFORMATION
REDIS_PORT=6379
REDIS_HOST=localhost
REDIS_PASSWORD=
REDIS_DB_NUMBER=1

# SERVER RUN TYPE
NODE_ENV=development

# JWT SECRETS INFORMATION
TOKEN_SECRET_KEY =
REFRESH_TOKEN_SECRET_KEY =
TOKEN_EXPIRES_IN = 12h
REFRESH_TOKEN_EXPIRES_IN = 30d

# AES ENCRYPTION INFORMATION
SECRET_KEY=
ENCRYPTION_KEY=
HASH_SECRET=mohamad


# nodemailer INFORMATION
EMAIL_SERVICE="gmail"
EMAIL_USERNAME=""
EMAIL_PASSWORD=""
#587 or 465
EMAIL_PORT=587
EMAIL_HOST="smtp.gmail.com" 


API_KEY=NESTJS

APP_NAME=NESTJS